.nav {
	padding: 2rem 0;
}
.nav__icon,
.nav__close,
.nav__overlay {
	display: none;
}
.nav__wrapper {
	display: flex;
	justify-content: space-between;
}
.nav__list li {
	display: inline-block;
	margin: 0 1rem;
}
.nav__list .nav__link {
	font-size: 1.8rem;
	font-family: Poppins;
	padding: 0.5rem;
}

.logo {
	width: 150px;
	margin-bottom: 2rem;
}

@media only screen and (max-width: 768px) {
	.nav {
		position: relative;
		
	}


	.nav__close {
		display: block;
		position: absolute;
		right: 1rem;
		top: 1rem;
		cursor: pointer;
	}
	.nav__list {
		z-index: 1000;
		position: absolute;
		left: 100%;
		top: 0;
		height: 100vh;
		width: 80%;
		background:white;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		padding-right: 2rem;
		transform: translate(0%);
		overflow: hidden;
		
	}
	.nav__list.show {
		transform: translate(-100%);
	}
	.nav__list li {
		display: block;
		text-align: right;
		margin-bottom: 2rem;
	}
	.nav__list a {
		font-size: 1.6rem;
	}
	.nav__overlay {
		position: absolute;
		left: 0;
		top: 0;
		z-index: 1000;
		height: 100vh;
		width: 100%;
		background: rgba(18, 24, 14, 0.808);
		display: none;
	}
	.nav__overlay.active {
		display: block;
	}
}



@media only screen and (max-width: 768px) {
	.nav {
		position: relative;
	
	}
	.nav__icon {
		display: block;
	}
	
	.nav__close {
		display: block;
		position: absolute;
		right: 1rem;
		top: 1rem;
		
	}
	.nav__list {
		z-index: 1000;
		position: absolute;
		left: 100%;
		top: 0;
		height: 100vh;
		width: 80%;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		padding-right: 2rem;
		transform: translate(0%);
	}
	.nav__list.show {
		transform: translate(-100%);
	}
	.nav__list li {
		display: block;
		text-align: right;
		margin-bottom: 2rem;
	}
	.nav__list a {
		font-size: 1.6rem;
	}

	.nav__overlay.active {
		display: block;
	}
}





@media only screen and (min-width: 700px) {
	.btn {
		padding: 1.3rem 2rem;
		font-size: 2rem;
	}
}

.Info__wrapper {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 1rem;
}
.Info__item {
	background-color: white;
	padding: 20px 30px;
	text-align: center;
	text-align: center;
	border-radius: 12px;
	width: 150px;
}
.Info__icon {
	width: 30px;
	margin: 0 auto;
	margin-bottom: 1.5rem;
}
.Info__title {
	font-size: 1.4rem;
	font-family: Poppins;
	font-weight: 500;
	margin-bottom: 0.5rem;
	
}
.Info__text {
	font-size: 1.4rem;
	font-family: Raleway;
	color: var(--black-2);
}
@media only screen and (min-width: 768px) {
	.Info__wrapper {
		gap: 2rem;
	}
	.Info__item {
		min-width: 200px;
		padding: 40px 0;
	}
	.Info__icon {
		width: 47px;
		margin-bottom: 2.5rem;
	}
	.Info__title {
		font-size: 1.8rem;
		margin-bottom: 1rem;
	}
	.Info__text {
		font-size: 1.6rem;
	}
}


.dishGrid__title {
	font-size: 1.8rem;
	margin-bottom: 2rem;
	font-weight: 600;
	
}
.dishGrid__wrapper {
	display: grid;
	
	grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
	gap: 1rem;
}
.dishGrid__item {
	display: flex;
	flex-direction: column;
	background-color: white;
	padding: 0.5rem;
	border-radius: 8px;
	gap: 0.5rem;
}
.dishGrid__item__img {
	flex: 4;
}
.dishGrid__item__info {
	flex: 5;
}
.dishGrid__item__img img {
	object-fit: cover;
	border-radius: 12px;
}
.dishGrid__item__title {
	font-size: 1.4rem;
	line-height: 1.3em;
	font-weight: 500;
	color: var(--black-1);
	margin-bottom: 0.5rem;
}
.dishGrid__item__price {
	font-size: 1.4rem;
	font-weight: 600;
	margin-bottom: 0.5rem;
}
.dishGrid__item__stars {
	max-height: 15px;
	width: max-content;
}
@media only screen and (min-width: 768px) {
	.dishGrid__title {
		font-size: 2.4rem;
	}
	.dishGrid__wrapper {
		grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
		gap: 3rem;
	}
	.dishGrid__item {
		flex-direction: row;
		padding: 1.5rem;
		border-radius: 12px;
		gap: 1rem;
	}
	.dishGrid__item__title {
		font-size: 2.4rem;
		margin-bottom: 1rem;
	}
	.dishGrid__item__price {
		font-size: 2rem;
		margin-bottom: 1rem;
	}
}


#form {
	padding: 5rem 0;
}
.form__title {
	font-size: 1.8rem;
	color: var(--black-1);
	font-weight: 600;
}
.formwrapper {
	padding: 3rem 0;
}
.formwrapper form {
	display: grid;
	grid-template-columns: 1fr;
	gap: 2rem;
}
.formgroup label {
	font-size: 1.6rem;
	font-family: Poppins;
	color: var(--black-2);
	font-weight: 500;
}
.formgroup input,
.formgroup textarea,
.formgroup select {
	width: 100%;
	border: none;
	font-size: 1.4rem;
	font-weight: 600;
	padding: 1.5rem;
	border-radius: 8px;
	margin-top: 0.5rem;
}
.formgroup textarea {
	resize: vertical;
}
.formwrapper_button[type='submit'] {
	width: max-content;
	border: none;
	padding: 1rem 4rem;
	font-weight: 500;
	letter-spacing: 0.1rem;
}
@media only screen and (min-width: 768px) {
	.form__title {
		font-size: 3.6rem;
	}
	.formwrapper {
		padding: 5rem 0;
	}
	.formwrapper form {
		grid-template-columns: 1fr 1fr;
	}
	.formgroup__full {
		grid-column: 1/3;
	}
	.form__group label {
		font-size: 1.8rem;
	}
	.formgroup input,
	.formgroup textarea,
	.formgroup select {
		font-size: 1.8rem;
		padding: 2rem;
		margin-top: 1.5rem;
	}
}



footer {
	background:white;
	padding-top: 5rem;
	padding-bottom: 2rem;
}
.footer__wrapper {
	display: flex;
	flex-direction: column;
	gap: 3rem;
}
.footer__logo {
	width: 150px;
	margin-bottom: 2rem;
}


.footer__text__title {
	font-size: 1.8rem;
	margin-bottom: 1rem;
	font-weight: 600;
}
.footer__text a {
	font-size: 1.4rem;
	margin-bottom: 0.5rem;
	color: var(--black-2);
	font-family: Raleway;
	font-weight: 500;
	line-height: 1.4em;
}


@media only screen and (min-width: 768px) {
	footer {
		padding-top: 8rem;
		padding-bottom: 4rem;
	}
	.footer__wrapper {
		flex-direction: row;
	}
	.footer__col1 {
		flex: 4;
	}
	.footer__col2,
	.footer__col3
	{
		flex: 2;
	}

	.footer__text__title {
		font-size: 2rem;
		margin-bottom: 2rem;
	}
	.footer__text a {
		font-size: 1.8rem;
		margin-bottom: 1rem;
	}
}
#copyright {
	padding: 1rem 0;
}




