
section {
	padding: 100px 0;
}




 .img-responsive {
    height: auto;
    width: auto;      
    max-height: 72px;
    max-width: 250px;
}

body{
	background-color: lightblue;
	

}


section {
	padding: 100px 0;
}
@media only screen and (max-width: 767px) {
	section {
		padding: 50px 0;
	}
}
.container {
	max-width: 1200px;
	width: 90%;
	margin: 0 auto;
}
:root {
	--blue-1: #0085fa;
	--blue-2: #001ac7;
	--lightGreen-1: #d6e5d8;
	--lightGreen-2: #f5fcf4;
	--black-1: #3b413a;
	--black-2: #3f3c3c;
	--black-3: #5b6359;
	--white-1: #e8e8e8;
}
img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

p {
	font-weight: 400;
	line-height: 1.4em;
	font-size: 1.8rem;
}
a {
	display: inline-block;
	text-decoration: none; }